div.calendar__date-cell
    if day
        p
            | #{day}.#{month}
            br
            | #{shortSign}
    else if year
        p
            | #{year}
            br 
            | #{yearShortSignName}
    else
        p ""